.bg-container {
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

img {
  width: 300px;
  order: -1;
}

.heading {
  color: #e4e7eb;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}

label {
  color: #e4e7eb;
  font-size: 13px;
  font-weight: 500;
}

input {
  color: #e4e7eb;
  background-color: transparent;
  border: 1px solid #e4e7eb;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
  max-width: 300px;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 35px;
}

.no-of-letters {
  background-color: #ffffff;
  color: #219a6f;
  font-size: 18px;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}
@media screen and (min-width: 992px) {
  img {
    order: 1;
    width: 450px;
  }
  .bg-container {
    flex-direction: row;
  }
  .heading {
    font-size: 35px;
    max-width: 300px;
    text-align: left;
  }
  label {
    font-size: 16px;
  }
  .no-of-letters {
    font-size: 22px;
  }
}